@page "/delaccount"
@using Microsoft.AspNetCore.Identity
@using bnbapp.Models;
@inject bnbapp.IRepository.IUserRepository UserRepository;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider _authenticationStateProvider
@layout BnBApp
@inject NavigationManager uriHelper;
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BnB App</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        body {
            overflow-y: scroll;
        }
    </style>
</head>

<body id="page-top">

    @if (isSigned)
    {
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-purp sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="account">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Account</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider center">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item ">
                    <a class="nav-link" href="account">

                        <span class="fw-bold">Profile</span>
                    </a>
                </li>
                @if (isAdmin)
                {
                    <li class="nav-item ">
                        <a class="nav-link" href="administrator">
                            Admin

                        </a>
                    </li>
                }
                @if (isBulk)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="bulkvita">
                            <span> BulkVita </span>

                        </a>
                    </li>
                }
                <!-- Nav Item - Start -->
                <li class="nav-item ">
                    <a class="nav-link" href="start">

                        <span>Get Started</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Account Settings
                </div>

                <!-- Nav Item - Edit -->
                <li class="nav-item ">
                    <a class="nav-link" href="edit">


                        <span>Edit Details</span>
                    </a>
                </li>

                <!-- Nav Item - Payment Methods WIP!!!
                <a class="nav-item collapsed" href="methods" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">

                    <span>Payment Methods</span>
                </a>
                -->

                <li class="nav-item ">
                    <a class="nav-link" href="orders">


                        <span>Orders</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="invoices">


                        <span>Invoices</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="repwd">


                        <span>Change Password</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="reemail">


                        <span>Change Email</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="delaccount">


                        <span>Delete Account</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="logout">


                        <span>Logout</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Information
                </div>

                <!-- Nav Item - Home -->
                <li class="nav-item ">
                    <a class="nav-link" href="home">


                        <span>Home</span>
                    </a>
                </li>

                <!-- Nav Item - About -->
                <li class="nav-item ">
                    <a class="nav-link" href="about">


                        <span>About BnB</span>
                    </a>
                </li>
                <!-- Nav Item - Team -->
                <li class="nav-item ">
                    <a class="nav-link" href="team">


                        <span>Meet The Team</span>
                    </a>
                </li>
                <!-- Nav Item - FAQs -->
                <li class="nav-item ">
                    <a class="nav-link" href="faq">


                        <span>FAQs</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">


            </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">



                        <!-- Home- Bnb Coding Tech -->
                        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home">
                            <div class="sidebar-brand-icon rotate-n-15">
                                <i class="fas fa-laugh-wink"></i>
                            </div>
                            <div class="sidebar-brand-text mx-3">BnBCoding Tech</div>
                        </a>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">



                            <!-- Nav Item - BnB logo -->
                            <div class="ms-auto">
                                <img class="float-end img-small4" alt="img-thumbnail" src="images/bnblogo.png" />
                            </div>



                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->


                            <h6 class="text-gray-600 pt-3">@userID</h6>



                        </ul>

                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Delete Your BnB Account.</h1>

                        </div>

                        <!-- Content Row -->
                        <div class="row">


                            <!-- Content Row -->

                            <div class="row">


                                @if (!confirm)
                                {
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Delete Account</h6>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="font-weight-bold p-1">Current Email:</h6> <p>@userID</p>
                                            <p class="alert-danger">@error</p>
                                            <h6 class="font-weight-bold p-1">Current Password:</h6> <input type="password" class=" form-control bg-light border-0 small" @bind-value="password" placeholder="Current Password" aria-label="Password" aria-describedby="basic-addon2">


                                            <div class="form-check text-cent p-1">
                                                <input class="form-check-input" type="checkbox" @bind-value="check">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    I Agree To Deleting My BnB Account.
                                                </label>
                                            </div>
                                            <a href="repswd p-1"> Click Here To Channge Password</a>


                                            <div class="ms-5">
                                                <button class=" w-100 btn btn-lg btn-primary" @onclick="@(e=>DelUser())" >Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                }else
                                {
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">Delete Account</h6>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="font-weight-bold p-1 alert-danger">YOUR ABOUT TO DELETE YOUR BNB CODING ACCOUNT!!</h6>
                                            <h6 class="font-weight-bold p-1">Enter Your Current Password To Delete Your Account.</h6>
                                            <h6 class="font-weight-bold p-1">Re Enter Current Password:</h6> <input type="password" class=" form-control bg-light border-0 small" @bind-value="repassword" placeholder="Current Password" aria-label="Password" aria-describedby="basic-addon2">


                                            <div class="form-check text-cent p-1">
                                                <input class="form-check-input" type="checkbox" @bind-value="check2">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    I Agree To Deleting My BnB Account.
                                                </label>
                                            </div>
                                           


                                            <div class="ms-5">
                                                <button class=" w-100 btn btn-lg btn-primary" @onclick="@(e=>DelUser())">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- /.container-fluid -->
                             
                        </div>
                        <!-- End of Main Content -->
                        <!-- Footer -->
                        <footer class="sticky-footer bg-white" id="bottom">
                            <div class="container my-auto text-center">
                                <div class="copyright text-center my-auto">
                                    <span>Copyright &copy; BnBCoding</span>
                                </div>
                            </div>
                        </footer>
                        <!-- End of Footer -->
                    </div>
                </div>
                <!-- End of Content Wrapper -->
            </div>
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Please login or create an account. <a href="l" class="alert-link">Login</a>. <a href="r" class="alert-link">Register</a>.
        </div>
    }
</body>

</html>
@code {
    User user = new User();
    List<User> users = new List<User>();
    bool isSigned = false;
    string userID = "";
    bool check = false;
    bool check2 = false;
    bool confirm = false;
    string error = "";
    string password = "";
    string repassword = "";
    IdentityUser getUser;
    private void LoadUsers()
    {
        users = new List<User>();
        users = UserRepository.Gets();

    }
    protected async Task DelUser()
    {
        //check if check is ture and password is correct using usermanager
        //if correct make confirm true
        //if confirm is true check if check2 is true and repassword is correct
        //if correct delete user
        //if not correct display error = "password not correct"
        if (!confirm)
        {
            if (check)
            {
                var result = await UserManager.CheckPasswordAsync(getUser, password);
                if (result == true)
                {
                    confirm = true;
                }
                else
                {
                    error = "Password Not Correct";
                }
            }
            else
            {
                error = "Please Agree To Deleting Your Account";
            }
        }
        else
        {
            if (!check2)
            {
                error = "Please Agree To Deleting Your Account";
            }
            else
            {
                var res = await UserManager.CheckPasswordAsync(getUser, repassword);
                if (res == true)
                {
                    await UserManager.DeleteAsync(getUser);
                    uriHelper.NavigateTo("l",forceLoad:true);
                }
                else
                {
                    error = "Password Not Correct";
                }
            }
        }

    }
    bool isAdmin = false;
    bool isBulk = false;
    protected override async Task OnInitializedAsync()
    {
        
        confirm = false;
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        if (user.Identity.IsAuthenticated)
        {
            isSigned = true;
            userID = UserManager.GetUserName(user);
            getUser = await UserManager.FindByEmailAsync(userID);
            if (userID == "bnbcoding.tech@gmail.com" || userID == "bnbcoding.technologies@gmail.com" || userID == "beck.vilas@gmail.com" || userID == "andrea.bella0816@gmail.com") isAdmin = true;
            if (userID == "beck.vilas@gmail.com" || userID == "andrea.bella0816@gmail.com" || userID == "bnbcoding.technologies@gmail.com" || userID == "bulk.vita@gmail.com") isBulk = true;

        }
    }
    protected async Task ChangeEmail()
    {
        // await UserManager.ChangeEmailAsync(getUser,newEmail,)
    }

}
